<section class="section bestsellers-sections">
  <div class="container bestsellers">
    <h2 class="bestsellers-title">Наші бестселлери</h2>

    <div class="bestseller-loader-wrapper">
      <div class="swiper-bestsellers">
        <ul
          class="bestsellers-list swiper-wrapper"
          aria-label="Список бестселерів"
        ></ul>

        <div class="paginate-box">
          <div
            class="swiper-pagination"
            aria-label="Навігація по слайдах"
          ></div>
          <div class="bestsellers-nav-btn">
            <button
              class="page-left-btn"
              type="button"
              aria-label="Попередній слайд"
            >
              <svg
                class="bestsellers-button-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="/img/sprite.svg#icon-arrow_back"></use>
              </svg>
            </button>
            <button
              class="page-right-btn"
              type="button"
              aria-label="Наступний слайд"
            >
              <svg
                class="bestsellers-button-svg"
                width="24"
                height="24"
                aria-hidden="true"
              >
                <use href="/img/sprite.svg#icon-arrow_forward"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="loader bestsellers-loader" aria-hidden="true">
        <div class="cup">
          <div class="cup-handle"></div>
          <div class="smoke one"></div>
          <div class="smoke two"></div>
          <div class="smoke three"></div>
        </div>
        <div class="load">..........................</div>
      </div>
    </div>
  </div>
</section>
