<div class="burger-menu">
  <div class="container burger-container">
    <div class="burger-thumb">
      <a
        href="/index.html"
        class="logo-link-burger"
        aria-label="Головна сторінка Солодка Майстерня"
      >
        <svg class="burger-logo-icon" width="158" height="72">
          <use href="/img/logo/logo.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        type="button"
        class="close-burger-btn"
        aria-label="Закрити навігаційне меню"
      >
        <svg class="close-burger-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="burger-content">
      <nav class="burger-nav">
        <ul class="burger-nav-list">
          <li class="burger-nav-item">
            <a href="#sweets" class="burger-nav-link">Солодощі</a>
          </li>
          <li class="burger-nav-item">
            <a href="#about-us" class="burger-nav-link">Про нас</a>
          </li>
          <li class="burger-nav-item">
            <a href="#feedbacks" class="burger-nav-link">Відгуки</a>
          </li>
          <li class="burger-nav-item">
            <a href="#faq" class="burger-nav-link">Часті запитання</a>
          </li>
        </ul>
      </nav>
      <a class="burger-order-btn" href="#sweets">До покупок</a>
    </div>
  </div>
</div>
