<section class="section dessert-list-section">
  <div class="container">
    <h2 class="dessert-section__title">Солодощі</h2>
    <p class="dessert-section__description">
      Спробуйте наші смачні десерти, які вас здивують!
    </p>

    <div class="category-dropdown">
      <button class="category-dropdown__btn" type="button">
        <p class="category-dropdown__text">Всі десерти</p>
        <span class="category-dropdown__arrow">
          <svg width="24" height="24" aria-hidden="true">
            <use href="/img/sprite.svg#icon-keyboard_arrow_down"></use>
          </svg>
        </span>
      </button>

      <ul class="dessert-category"></ul>
    </div>

    <ul class="dessert-list"></ul>

    <button class="dessert-load-more-btn dessert-button-hidden" type="button">
      Завантажити ще
    </button>
  </div>
</section>
