<section class="feedback-section" id="feedbacks">
  <div class="container feedbacks">
    <h2 class="feedback-main-title">Відгуки клієнтів</h2>
    <p class="feedback-subtitle">
      Найкращі десерти, які я коли-небудь куштував!
    </p>
    <div class="loader-backdrop is-hidden">
      <div class="loader">
        <div class="cup">
          <div class="cup-handle"></div>
          <div class="smoke one"></div>
          <div class="smoke two"></div>
          <div class="smoke three"></div>
        </div>
        <div class="load">..........................</div>
      </div>
    </div>
    <div class="feedback-slider-container">
      <div class="swiper feedback-swiper">
        <ul class="swiper-wrapper" id="feedback-list"></ul>
        <nav class="nav-paginations-feedbacks">
          <div class="swiper-pagination"></div>
          <div class="feedback-button-wrapper">
            <button type="button" class="button-prev">
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow_back"></use>
              </svg>
            </button>
            <button type="button" class="button-next">
              <svg width="24" height="24">
                <use href="./img/sprite.svg#icon-arrow_forward"></use>
              </svg>
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
