<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <a
        href="/index.html"
        class="footer-logo"
        aria-label="Головна сторінка Солодка Майстерня"
      >
        <svg class="footer-logo-svg" width="309" height="66">
          <use href="/img/logo/logo.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="footer-nav" aria-label="Навігація у футері">
        <ul class="footer-menu">
          <li><a href="#sweets" class="footer-link">Солодощі</a></li>
          <li><a href="#about-us" class="footer-link">Про нас</a></li>
          <li><a href="#feedbacks" class="footer-link">Відгуки</a></li>
          <li><a href="#faq" class="footer-link">Часті питання</a></li>
        </ul>
      </nav>

      <ul class="footer-socials" aria-label="Ми у соцмережах">
        <li>
          <a href="#" aria-label="Facebook">
            <i class="icon-facebook">
              <svg class="footer-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-Facebook"></use>
              </svg>
            </i>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Instagram">
            <i class="icon-instagram">
              <svg class="footer-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-Instagram"></use>
              </svg>
            </i>
          </a>
        </li>
        <li>
          <a href="#" aria-label="YouTube">
            <i class="icon-youtube">
              <svg class="footer-svg" width="24" height="24">
                <use href="/img/sprite.svg#icon-Youtube"></use>
              </svg>
            </i>
          </a>
        </li>
      </ul>
    </div>
    <hr class="footer-divider" />

    <div class="footer-bottom">
      <p class="footer-copyright">
        &#169; 2025 Солодка Майстерня. Усі права захищені.
      </p>
    </div>
  </div>
</footer>
