.container.bestsellers {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.bestsellers-sections {
  background: var(--color-scheme-1-background);
}

.bestsellers-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  margin-bottom: 32px;
}

.bestseller-loader-wrapper {
  position: relative;
  width: 100%;
}

.bestsellers-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-bestsellers {
  width: 100%;
  overflow: hidden;
  --swiper-pagination-color: var(--color-scheme-1-text);
  --swiper-pagination-bullet-inactive-color: rgb(8, 12, 12, 0.2);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 8px;
}

.bestsellers-list {
  display: flex;
}

.swiper-wrapper {
  align-items: stretch;
}

.swiper-slide {
  height: auto;
  flex-shrink: 0;
}

.bestsellers-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--color-scheme-1-border);
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.bestsellers-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bestsellers-image {
  display: block;
  border-radius: 8px;
  width: 100%;
  height: 227px;
  object-fit: cover;
  margin-bottom: 16px;

  @media only screen and (min-width: 768px) {
    height: 234px;
  }

  @media only screen and (min-width: 1440px) {
    height: 292px;
  }
}

.bestsellers-category {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 12px;
}

.bestsellers-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 4px;
}

.bestsellers-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 0;
}

.bestsellers-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.bestsellers-price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.bestsellers-modal-btn {
  background-color: transparent;
  outline: transparent;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 250ms linear;
  border: 2px solid var(--color-neutral-darkest);
  border-radius: 100px;
  width: 44px;
  height: 44px;

  &:hover,
  &:focus {
    background: var(--color-wewak);
  }

  &:active {
    background: var(--color-wewak-dark);
  }
}

.paginate-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.swiper-bestsellers .swiper-pagination {
  position: static;
  text-align: left;
}

.swiper-bestsellers
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 0;
  transform: none;
}

.bestsellers-nav-btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.page-left-btn,
.page-right-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-scheme-1-border);
  background-color: transparent;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  transition:
    background 250ms linear,
    opacity 250ms linear;

  &:hover,
  &:focus {
    background: var(--color-wewak);
  }

  &:active {
    background: var(--color-wewak-dark);
  }
}

.page-left-btn.swiper-button-disabled,
.page-right-btn.swiper-button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
