@import 'css-star-rating/css/star-rating.min.css';

.feedback-section {
  padding: 64px 0;
  background-color: var(--color-scheme-1-foreground);
}

.feedback-item {
  display: flex;
  flex-direction: column;
  padding: 32px;
  height: 100%;

  align-items: flex-start;
  border: 2px solid var(--color-scheme-1-border);
  border-radius: 16px;
  width: 100%;

  @media only screen and (min-width: 768px) {
    min-height: 233px;
  }

  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .feedback-item {
    padding: 16px;
    min-height: 233px;
  }
}

.star-container {
  display: flex;
  gap: 4px;
  text-align: start;
  margin-bottom: 24px;
  justify-content: flex-start;
}
.feedback-main-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 24px;
}

.feedback-subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 40px;
}
/* Текст відгуку */
.feedback-text {
  font-weight: 400;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.feedback-user-name {
  margin-top: auto;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

/* Контейнер слайдера */
.feedback-slider-container {
  position: relative;
}

.feedback-section .swiper.feedback-swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 32px;
}

.slider-arrow svg {
  stroke: currentColor;
}

/* Пагінація */

.feedback-swiper .swiper-slide {
  display: flex;
}

.feedback-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: var(--color-scheme-1-text);
  opacity: 0.2;
  flex-shrink: 0;
  transition:
    opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-swiper .swiper-pagination-bullet-active {
  background: var(--color-scheme-1-text);
  opacity: 1;
  flex-shrink: 0;
}

@media screen and (min-width: 1440px) {
  .feedback-section {
    padding: 80px 0;
  }
  .feedback-main-title {
    font-size: 48px;
  }
}

/* ------------Зірочки----------- */
.feedback-item .star .star-filled,
.feedback-item .star .star-filled use {
  fill: var(--color-scheme-1-text) !important;
  color: var(--color-scheme-1-text) !important;
}

.feedback-item .star .star-half,
.feedback-item .star .star-half use {
  fill: var(--color-scheme-1-text) !important;
  color: var(--color-scheme-1-text) !important;
}

.feedback-item .star .star-empty {
  fill: #d1d1d1 !important;
}

/* --------------Лоудер -----------*/

.loader-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0 auto;
}

.loader-backdrop.is-hidden {
  display: none;
}

.button-prev,
.button-next {
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100px;
  border: 2px solid var(--color-scheme-1-border);
  stroke: currentColor;

  transition: background-color 250ms linear;
  z-index: 10;
  display: flex;
  background-color: var(--color-scheme-1-foreground);
}
.button-prev:hover,
.button-next:hover,
.button-prev:focus,
.button-next:focus {
  background-color: var(--color-wewak);
}

.button-prev:active,
.button-next:active {
  background-color: var(--color-wewak-dark);
}

.container.feedbacks {
  position: relative;
}

.feedback-button-wrapper {
  display: inline-flex;
  gap: 16px;
  z-index: 10000;

  @media only screen and (min-width: 768px) {
    position: absolute;
    top: 32%;
    left: 0;
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }
}

.button-next {
  @media only screen and (min-width: 768px) {
    transform: translateX(64%);
  }
}
.button-prev {
  @media only screen and (min-width: 768px) {
    transform: translateX(-64%);
  }
}

.feedback-swiper {
  --swiper-pagination-color: var(--color-scheme-1-text);
  --swiper-pagination-bullet-inactive-color: rgb(8, 12, 12, 0.2);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-horizontal-gap: 4px;

  overflow: clip;
  overflow-clip-margin: 2px;
}
.feedback-swipper {
  margin-bottom: 32px;

  @media only screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
}

.nav-paginations-feedbacks {
  @media only screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.feedback-swiper .swiper-pagination {
  text-align: left;
  position: static;
}
.feedback-swiper
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 0;
  transform: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.button-prev.swiper-button-disabled,
.button-next.swiper-button-disabled {
  opacity: 0.3;
  pointer-events: none;
}
