.footer {
  padding: 83px 20px 48px 20px;

  color: var(--color-scheme-2-background);
  background-color: black;
  @media only screen and (min-width: 1440px) {
    padding: 75px 0px 40px 0;
  }
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media only screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 75px;
  }
}

.footer-nav {
  margin-bottom: 32px;

  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  @media only screen and (min-width: 1440px) {
    margin: 0;
    font-size: 14px;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 32px;
  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footer-logo {
  margin-bottom: 67px;
  fill: var(--color-scheme-2-background);
  @media only screen and (min-width: 1440px) {
    margin: 0;
  }
}

.footer-socials {
  display: flex;
  margin-bottom: 48px;

  gap: 31px;

  fill: var(--color-scheme-2-background);
  @media only screen and (min-width: 1440px) {
    margin: 0;
  }
}

.footer-divider {
  margin: 0;
  margin-bottom: 32px;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}
