.hero-section {
  position: relative;
  overflow: hidden;
  background-color: black;
  padding-top: 155px;
  padding-bottom: 155px;
}

.hero-picture {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-section::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-container {
  position: relative;
  z-index: 2;
}

.main-title {
  max-width: 335px;
  margin: 0 auto 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-white);
}

.main-description {
  max-width: 320px;
  margin: 0 auto 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
}

.main-title-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 44px;
  margin: 0 auto;
  padding: 10px 24px;
  border: 1px solid var(--color-wewak);
  border-radius: 100px;
  background-color: var(--color-wewak);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-neutral-darkest);
  transition: background-color 250ms linear;
}

.main-title-link:hover,
.main-title-link:focus {
  background: var(--color-wewak-light);
}

.main-title-link:active {
  background-color: var(--color-wewak-dark);
}

/* tablet */
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 325px;
    padding-bottom: 325px;
  }

  .main-title {
    max-width: 704px;
    font-size: 40px;
  }

  .main-description {
    max-width: 704px;
  }
}

/* desktop */
@media screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 306px;
    padding-bottom: 306px;
  }

  .main-title {
    max-width: 768px;
    font-size: 56px;
  }

  .main-description {
    max-width: 731px;
  }
}
