.hero-section {
  background-color: black;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 155px;
  padding-bottom: 155px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-set(
      url('../img/hero/AVIF/hero-mob.avif') type('image/avif') 1x,
      url('../img/hero/AVIF/hero-mob-2x.avif') type('image/avif') 2x,

      url('../img/hero/WEBP/hero-mob.webp') type('image/webp') 1x,
      url('../img/hero/WEBP/hero-mob-2x.webp') type('image/webp') 2x,

      url('../img/hero/jpeg/hero-mob.jpg') type('image/jpeg') 1x,
      url('../img/hero/jpeg/hero-mob-2x.jpg') type('image/jpeg') 2x
    );
}

.main-title {
  max-width: 335px;
  margin: 0 auto 24px;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;

  color: var(--color-white);
}

.main-description {
  max-width: 320px;
  margin: 0 auto 32px;

  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

  color: var(--color-white);
}

.main-title-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 219px;
  height: 44px;

  margin: 0 auto;
  padding: 10px 24px;

  border: 1px solid var(--color-wewak);
  border-radius: 100px;

  background-color: var(--color-wewak);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--color-neutral-darkest);

  transition: background-color 250ms linear;
}

.main-title-link:hover,
.main-title-link:focus {
  background-color: var(--color-wewak-light);
}

.main-title-link:active {
  background-color: var(--color-wewak-dark);
}

/* ......tablet....... */

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 325px;
    padding-bottom: 325px;

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url('../img/hero/AVIF/hero-tablet.avif') type('image/avif') 1x,
        url('../img/hero/AVIF/hero-tablet-2x.avif') type('image/avif') 2x,

        url('../img/hero/WEBP/hero-tablet.webp') type('image/webp') 1x,
        url('../img/hero/WEBP/hero-tablet-2x.webp') type('image/webp') 2x,

        url('../img/hero/jpeg/hero-tablet.jpg') type('image/jpeg') 1x,
        url('../img/hero/jpeg/hero-tablet-2x.jpg') type('image/jpeg') 2x
      );
  }

  .main-title {
    max-width: 704px;
  }

  .main-description {
    max-width: 704px;
  }
}

/* ...... desk ......... */

@media screen and (min-width: 1440px) {
  .hero-section {
    padding-top: 306px;
    padding-bottom: 306px;

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      image-set(
        url('../img/hero/AVIF/hero-desk.avif') type('image/avif') 1x,
        url('../img/hero/AVIF/hero-desk-2x.avif') type('image/avif') 2x,

        url('../img/hero/WEBP/hero-desk.webp') type('image/webp') 1x,
        url('../img/hero/WEBP/hero-desk-2x.webp') type('image/webp') 2x,

        url('../img/hero/jpeg/hero-desk.jpg') type('image/jpeg') 1x,
        url('../img/hero/jpeg/hero-desk-2x.jpg') type('image/jpeg') 2x
      );
  }

  .main-title {
    max-width: 768px;
    font-size: 56px;
  }

  .main-description {
    max-width: 731px;
  }
}
